body {
  background: rgba(0, 0, 0, 0.671);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --custom_color: white;
}

#card {
  background: linear-gradient(
    to bottom,
    #fafafafb 37.5%,
    white 30%,
    #0997e4d7 100%
  );

  margin-top: 5%;
  position: relative;
  width: 300px;
  height: 460px;
  border-radius: 10px;
}

#card:hover {
  transition: 1s all;
  box-shadow: 0 0 40px 25px #4b7b94fe, 0 0 40px 50px #eaedeffe;
}

#logo {
  position: absolute;
  top: 1%;
  left: 33%;
}

#uni-name {
  position: absolute;
  top: 17%;
  left: 18%;
}

.name {
  text-align: center;
  line-height: 1;
  font-size: 22px;
}

#stuCard {
  position: absolute;
  top: 32%;
  left: 0%;
  width: 300px;
  height: 37px;
  line-height: 1.5;
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  color: var(--custom_color);
  background-color: rgba(8, 136, 8, 0.735);
  font-weight: bolder;
}

#me {
  position: absolute;
  top: 49%;
  left: 33%;
  border: 7px solid var(--custom_color);
}

#reg-no {
  position: absolute;
  top: 74%;
  left: 17%;
  text-align: center;
  font-family: Arial;
  line-height: 1.3;
  font-size: 18px;
  font-weight: bolder;
}
