div {
  text-align: center;
  border: 3px solid green;
  margin: 7cm 2cm;
  width: 15cm;
  height: 5cm;
  padding: 30px 60px;
}

h3 {
  border: 1px solid orangered;
  margin: 2.5cm 0cm;
  width: 100%;
}
