div,
article,
aside {
  box-sizing: border-box;
  text-align: center;
  border: 3px solid green;
  width: 50%;
  height: 2cm;
  padding: 0.5cm;
}

div {
  float: left;
}

article {
  float: right;
}

aside {
  float: left;
}
* {
  margin: 0.2cm 0cm;
}
