body {
  background: linear-gradient(
    to top left,
    rgba(24, 26, 31, 0.831),
    rgb(24, 26, 31)
  );
  color: rgb(212, 219, 218);
  font-family: sans-serif;
}

*::selection {
  color: rgb(13, 190, 217);
  background-color: black;
}

#container {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

li:hover {
  color: green;
  font-size: larger;
  font-weight: bolder;
}

#me {
  height: 80px;
  width: 90px;
  border-radius: 20px;
}

#javaimg {
  height: 180px;
  width: 300px;
}

#oop {
  height: 75px;
  width: 75px;
}

#dsa {
  height: 75px;
  width: 100px;
}

h1 {
  color: rgb(252, 255, 255);
  text-align: center;
}

h2,
h4 {
  color: rgb(252, 255, 255);
}

h2 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h2:hover {
  letter-spacing: 0.03cm;
  color: black;
  background-color: rgb(236, 249, 0);
  width: 12cm;
  margin-left: 0;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

h4:hover {
  letter-spacing: 0.03cm;
  color: yellow;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

p {
  font-family: "Gill Sans";
  line-height: 1.8;
  font-style: italic;
  word-spacing: 0.2cm;
}

li {
  font-family: "Gill Sans";
  line-height: 2;
  color: white;
}

a:link,
a:visited {
  color: yellowgreen;
  text-decoration: none;
}

#copy {
  color: whitesmoke;
  font-size: 8px;
}

.java-youtubers {
  font-weight: bold;
}

#dots-remover {
  list-style: none;
}

aside {
  border-top: 5px solid rgba(172, 194, 51, 0.553);
  border-bottom: 5px solid rgba(172, 194, 51, 0.553);
  background-color: rgba(97, 98, 101, 0.514);
  margin-left: 0cm;
  width: 12cm;
}

aside,
.boxes {
  margin-top: 1.7cm;
}

/* li:nth-child(2) {
  font-weight: bold;
} */

/* body article h4 {
  color: red;
} */

a:hover {
  color: rgba(252, 246, 62, 0.952);
  font-weight: bolder;
  font-style: oblique;
  text-decoration: solid rgba(252, 217, 62, 0.952);
}

a:active {
  color: rgb(255, 85, 0);
  font-style: italic;
  letter-spacing: 0.07cm;
}

article p:hover {
  color: yellow;
}

nav a:link {
  display: inline-block;
  margin: 20px 20px;
}

nav a:link:last-child {
  margin-right: 0;
}

#like {
  position: absolute;
  right: 0.5cm;
  top: 121.7cm;
  background-color: rgba(28, 28, 28, 0.571);
  color: wheat;
  border: 1px solid white;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 10px;
}

#like:hover {
  background-color: yellowgreen;
  color: black;
  transition: 0.5s ease-in-out;
}

header > h1 > big::after {
  position: absolute;
  display: inline-block;
  content: "TOP";
  padding: 2px 5px;
  top: 20px;
  right: 15px;
  background-color: #ffe70e;
  color: rgb(95, 93, 93);
  font-size: 20px;
}

header > h1 > big:hover::after {
  color: rgb(6, 253, 154);
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
