h1 {
  color: rgb(252, 255, 255);
  text-align: center;
  font-family: sans-serif;
}

h2,
h3,
h4 {
  color: rgb(252, 255, 255);
  font-family: sans-serif;
}

h2 h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

p {
  color: rgb(212, 219, 218);
  font-family: "Gill Sans";
  line-height: 1.8;
  font-style: italic;
}

body {
  background: linear-gradient(
    to top left,
    rgba(24, 26, 31, 0.831),
    rgb(24, 26, 31)
  );
}

li {
  color: rgb(212, 219, 218);
  font-family: "Gill Sans";
  line-height: 2;
  font-style: italic;
}

a {
  color: yellowgreen;
}

#copy {
  color: whitesmoke;
  font-size: 8px;
}

.java-youtubers {
  font-weight: bold;
}

#dots-remover {
  list-style: disc;
}

aside {
  border-top: 5px solid rgba(172, 194, 51, 0.553);
  border-bottom: 5px solid rgba(172, 194, 51, 0.553);
}

li:first-child {
  font-weight: bold;
}

/* body article h4 {
  color: red;
} */

a:link {
  text-decoration: none;
}

a:hover {
  color: rgba(252, 246, 62, 0.952);
  font-weight: bolder;
  font-style: italic;
  text-decoration: solid underline rgba(252, 217, 62, 0.952);
}
